<footer id="footer">
  <div class="wrapper">
    <p>
        <a href="https://botkit.ai">Powered by Botkit</a> |
        <a href="https://github.com/howdyai/botkit">Documentation</a>
    </p>
  </div>
</footer>
