<head>
    <title>Botkit Sample Tab for Microsoft Teams</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://statics.teams.microsoft.com/sdk/v1.0/js/MicrosoftTeams.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.7.2/dist/showdown.min.js"></script>
    <script src="/js/notes_app.js?buster=12312"></script>
</head>
