<div>
    <h1>Instructions go here.</h1>
    <ol>
      <li>Login at <a href="https://api.slack.com/" target="_blank">https://api.slack.com</a></li>
      <li>Go to <a href="https://api.slack.com/apps" target="_blank">https://api.slack.com/apps</a></li>
      <li>Click 'Create New App' and fill out the form, or find your app in the list below the button</li>
      <li>In the 'App Credentials' section copy your 'Client ID' and 'Client Secret'</li>
      <li>You will need to put these in your '.env' file.</li>
      <li>If you are hosting on Glitch click <a href="{{env_link}}" target="_blank">here</a> to add them to your '.env' file.</li>
    </ol>
</div>
